<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Location Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Camera Permission -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <!-- Sensor Permissions (implicitly granted) -->
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.light" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.proximity" android:required="false" />

    <!-- Battery Status (implicit) -->

    <application
        android:name=".BlissCakesApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlissCakes"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Splash Activity -->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.BlissCakes.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Auth Activities -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.BlissCakes.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.BlissCakes.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <!-- Main Activity -->
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.BlissCakes" />

        <!-- Detail Activities -->
        <activity
            android:name=".ui.browse.CakeDetailActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/Theme.BlissCakes.NoActionBar" />

        <activity
            android:name=".ui.orders.OrderDetailActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/Theme.BlissCakes.NoActionBar" />

        <activity
            android:name=".ui.checkout.CheckoutActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.BlissCakes.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.search.SearchActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.BlissCakes.NoActionBar"
            android:launchMode="singleTop" />
    </application>

</manifest>
